attrs==21.4.0
aws-cdk-lib==2.24.1
cattrs==22.1.0
constructs==10.1.7
exceptiongroup==1.0.0rc5
jsii==1.58.0
pip==22.0.4
publication==0.0.3
python-dateutil==2.8.2
setuptools==65.5.1
six==1.16.0
typing_extensions==4.2.0
